.button {
  display: inline-block;
  font-style: normal;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 2.2rem;
  padding: 11px 25px 13px;
  border-radius: 4px;
  transition: all .3s ease-in-out;
  cursor: pointer;
}

.button_bordered {
  background: $color-light;
  border: 1px solid $color-border;
  color: $color-text;
}

.button_colored {
  background: $color-primary;
  border: 1px solid $color-primary;
  color: $color-light;
}

.button_colored:hover {
  background: $color-additional;
  border: 1px solid $color-additional;
}

.button_bordered:hover {
  background: $color-hovered;
  border: 1px solid $color-hovered;
  // color: $color-light;
}