.button {
  display: inline-block;
  font-style: normal;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 2.2rem;
  padding: 11px 25px 13px;
  border-radius: 4px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  &_bordered {
    background: $color-light;
    border: 1px solid $color-border;
    color: $color-text;
    &:hover {
      background: $color-hovered;
      border: 1px solid $color-hovered;
    }
  }
  &_colored {
    background: $color-primary;
    border: 1px solid $color-primary;
    color: $color-light;
    &:hover {
      background: $color-additional;
      border: 1px solid $color-additional;
    }
  }
}
