body {
  /* height: 100vh; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;

  background-color: blueviolet;
  padding-top: 20px;
}

.wrapper {
  /* width: 100%; */
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.inner {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 50px;
  background-color: #fff;
  font-size: 32px;
}
