.strategies {
  padding: 30px 0;
  @include media-tablet {
    text-align: center;
  }
}

.strategies__title {
  margin: 0 0 14px;
}

.strategies__description {
  margin: 0 0 24px;
}

.strategies__tags {
  margin-bottom: 31px;
  @include media-tablet {
    justify-content: center;
  }
}

.strategy {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  &_hidden {
    display: none;
  }
  @include media-tablet {
    overflow: hidden;
  }
}

.strategy-wrapper {
  // width: 1200px;
  > * {
    margin-bottom: 30px;
    @include media-tablet {
      flex-basis: 48%;
    }
    @include media-mobile {
      flex-basis: 100%;
    }
  }
}

.strategy__content {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: space-between;
  padding: 24px 33px 26px;
}

.strategy__name {
  margin: 0px 0px 29px;
  text-align: left;
}