body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;

  background-color: blueviolet;
}

button {
  width: 300px;
  height: 50px;
  font-size: 32px;

  cursor: pointer;
}

.cards {
  display: flex;
  gap: 20px;
}
